/* SearchedBusses.css */

.bus-tile {
  background-color: #fff;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tile-content {
  display: flex;
  align-items: center;
}

.tile-content img {
  max-width: 50px; /* Adjust the maximum width as needed */
  border-radius: 50%; /* Make the image circular */
  margin-right: 10px;
}

.tile-details {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}

/* Add any other styles as needed */
 