/* Basic Reset */
body, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  /* Main Navigation Styling */
  .navbar {
    background-color: #333;
    background-color: rgba(51, 51, 51, 0.5); /* Transparent black background */

    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .nav-menu {
    display: flex;
  }
  
  .nav-item {
    margin-right: 15px;
  }
  
  .nav-link {
    text-decoration: none;
    color: rgb(20, 17, 17);
    font-weight: bold;
    transition: color 0.3s ease;
  }
  .nav-link-register {
    text-decoration: none;
    color: #231818;
    font-weight: bold;
    transition: color 0.3s ease;
    margin-left: 1000px;
  }
  
  .nav-link:hover {
    color: #7e7171; /* Change the color on hover */
  }
  

  /* Menu.css */

/* Target the "Register/Login" link by its unique class */
.register-login-item {
  margin-left: auto; /* Pushes the "Register/Login" link to the right */
  margin-right: 15px; /* Adjust the margin as needed */
}

/* If you want to align vertically in the center, you can add the following */
/* Menu.css */

.navbar-nav {
  display: flex;
  justify-content: flex-end; /* Align items to the right side */
  align-items: center; /* Center items vertically */
  height: 100%; /* Ensure the navbar height is 100% */
}

.navbar-nav li {
  margin-right: 10px; /* Adjust the margin as needed */
}

.icon {
  margin-right: 5px; /* Adjust the margin as needed */
}
